<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NiUI.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <NiUI.Properties.Settings>
      <setting name="DeviceURI" serializeAs="String">
        <value />
      </setting>
      <setting name="CameraType" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Depth_Fill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Depth_Histogram" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Depth_Invert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Color_HD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmartCam" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mirroring" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoNotification" serializeAs="String">
        <value>True</value>
      </setting>
    </NiUI.Properties.Settings>
  </userSettings>
</configuration>