<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net462" />
  <package id="NiWrapper.Net.x86" version="2.2.0.35" targetFramework="net462" />
  <package id="NiWrapper.NiTE.Net.x86" version="2.2.0.13" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net462" />
</packages>